{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
{% for user in users %}
  <div class="from_top">
  <div class="container_box">
  <div class="profile">
  <div class="col-md-6">
<img src="/static/img/{{user.pic}}" style="width:200px;height:200px">
  </div>
</div>
<div class="row">
 <div class="col-md-6">
  <div class="name">
  <h1>{{user.fname}} {{user.lname}}</h1>
  </div>
  
  <div class="time">
    <strong>Profile_added_on:  {{user.date_created}}</strong>
  </div>
  
  <div class="info">
  <p><strong>Username:</strong>  {{user.username}}</p>
  <p><strong>ID:</strong>  {{user.userid}}</p>
  <p><strong>Sex:</strong>  {{user.sex}}</p>
  <p><strong>Age:</strong>  {{user.age}}</p>
  <p><strong>Highest score:</strong>  {{user.High_score}}</p>
  <p><strong>TDolors:</strong>  {{user.TDollars}}</p>
  <button onclick="location.href='../profile/{{user.userid}}'" type="button" style="float:right; border-radius: 25px;">View {{user.fname}}'s Profile</button>
   </div>
  </div>
</div>
</div>
    </div>
<br />
{% endfor %}
{% endblock %}