<style>

  .profile{
    float:left;
  }
  
  .container{
    margin-top:5px;
    float:left;
    width:800px;
    border:1px solid grey;
    border-radius: 25px;
    padding:20px;
    background-color:grey;
  }
  
  .name{
    float:right;
    width:500;
    border:1px solid black;
    border-radius: 25px;
    padding:2px;
    background-color:cyan;
  }
  
  .info{
    margin-top:20px;
    float:right;
    width:400;
    border:1px solid black;
    border-radius: 25px;
    background-color:cyan;
	  padding:20px;
  }
  
  .time{
    margin-top:40px;
    float:right;
    width:420;
    border:1px solid black;
    border-radius: 25px;
    padding:10px;
    background-color:cyan;
  }
  
</style>

{% for user in users %}
<div class="container">
<div class="profile">
<img src="/static/img/{{user.pic}}" style="width:200px;height:200px">
</div>

 
  <div class="name">
  <h1>{{user.fname}} {{user.lname}}</h1>
  </div>
  
  <div class="time">
    <strong>Profile_added_on:  {{user.date_created}}</strong>
  </div>
  
  <div class="info">
  <p><strong>Username:</strong>  {{user.username}}</p>
  <p><strong>ID:</strong>  {{user.userid}}</p>
  <p><strong>Sex:</strong>  {{user.sex}}</p>
  <p><strong>Age:</strong>  {{user.age}}</p>
  <p><strong>Highest score:</strong>  {{user.High_score}}</p>
  <p><strong>TDolors:</strong>  {{user.TDollars}}</p>
  <button onclick="location.href='../profile/{{user.userid}}'" type="button" style="float:right; border-radius: 25px;">View {{user.fname}}'s Profile</button>
  </div>
</div>
{% endfor %}